.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin: 3rem;
}

.cards1 {
  background-color: #F5F5F5;
  height: 73%;
  text-align: center;
  margin-top: 7.7rem;
}
.cards1 h1 {
  font-size: 2rem;
  font-weight: 100;
}

.cards2 {
  background-color: #F5F5F5;
  height: 100%;
  text-align: center;

}

.cards2 h2 {
  margin-bottom: 0.5rem;
}

.cards2 h1 {
  font-size: 2rem;
  font-weight: 100;
}


.cards3{
  background-color: #F5F5F5;
  height: 73%;
  text-align: center;
  margin-top: 7.7rem;
}

.cards3 h1 {
  font-size: 2rem;
  font-weight: 100;
}

p {
  font-weight: 100;
}

