body {
  font-family: 'Roboto', sans-serif;
}

.title {
  text-align: center;
  font-size: 1rem;
}
.title p {
  margin: 0;
}
.title2 p {
  color: #FF8303;
  margin-top: 0;
  margin-top: 0;
  font-weight: 700;

}
.title3 {
  font-weight: 100;
}
.title4 h3{
  text-align: center;
  font-weight: 100;
}



// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
